<!-- <div style="height: 30px; width: 30px; border: 1px solid black"></div>

<div style="height: 30px; width: 30px; border: 1px solid blue"></div> -->

<!-- <app-contenedor-uno></app-contenedor-uno> -->

<div>
  <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
    <input required formControlName="email" type="text" />
    <div style="color: red">Error en tu correo electrónico</div>
    <input required formControlName="password" type="password" />
    <div *ngIf="!loginForm.valid">
      El correo o la contraseña son incorrectos
    </div>

    <div *ngFor="let persona of personasList">
      <app-contenedor-uno
        [nombre]="persona.nombre"
        (saludo)="saludoPadre($event)"
      ></app-contenedor-uno>
    </div>

    <div [ngSwitch]="switchPersona">
      <div *ngSwitchCase="1">aaaaaaaaa</div>
      <div *ngSwitchCase="2">bbbbbbbbbbb</div>
      <div *ngSwitchDefault>cccccccccccccc</div>
    </div>

    <button *ngIf="loginForm.valid" type="submit" [disabled]="!loginForm.valid">
      Enviar
    </button>
  </form>
  *ngIf="loginForm.valid"
</div>
